# -*- mode: ruby -*-
# {{ ansible_managed }}

require 'fileutils'

Vagrant.configure(2) do |config|
	config.vm.box = "ubuntu/trusty64"
	config.vm.box_check_update = false

	config.ssh.forward_agent = true

	config.vm.network :forwarded_port, guest: {{ service.port }}, host: {{ service.host_port if service.host_port is defined else service.port }}, auto_correct: true
	config.vm.network :private_network, ip: "{{ service.ip }}"

	{% if service.repo is defined -%}
	config.vm.synced_folder File.join('{{ workspace_dir }}', "{{ service.name }}"),
		"/home/{{ service.name }}/code",
		mount_options: ["dmode=777,fmode=777"]

	{% endif -%}

	config.vm.provider :virtualbox do |vb|
		vb.customize ["modifyvm", :id, "--memory", 1024]
		vb.customize ["modifyvm", :id, "--cpus", 1]
		vb.customize ["modifyvm", :id, "--natdnshostresolver1", "on"]
		vb.customize ["modifyvm", :id, "--natdnsproxy1", "on"]
	end

	config.vm.provision "ansible" do |ansible|
		ansible.playbook = "{{ base_dir }}/plays/{{ service.name }}.yml"
		ansible.extra_vars = {
			'hosts' => 'default',
			'pwd' => File.dirname(__FILE__),
		}
	end

end
